:root {
  --menucolor: rgba(255, 255, 255, 0.5);
}
@keyframes menuAnimRL {
  from {
    transform: translateX(65px);
  }
}
@keyframes menuAnimLR {
  from {
    transform: translateX(-65px);
  }
}
@keyframes appAnim {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(20px);
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: repeating-linear-gradient(orange, gold);
  height: 100vh;
  width: 100vw;
}
.appBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainApp {
  width: 60vw;
  height: 80vh;
  background-color: rgb(225, 209, 247);
  border-radius: 10%;
  box-shadow: 10px 10px 30px rgb(65, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: appAnim;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 500ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
.editMenu {
  height: 80vh;
  width: 10vw;
  background-color: var(--menucolor);
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  animation-name: menuAnimLR;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
.socialMenu {
  height: 80vh;
  width: 10vw;
  background-color: var(--menucolor);
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  animation-name: menuAnimRL;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
.socialMenu a:focus-visible {
  outline: none;
}
.buttons {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  cursor: pointer;
}
#website {
  background-image: url(images/website-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#instagram {
  background-image: url(images/instagram.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#youtube {
  background-image: url(images/youtube.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#facebook {
  background-image: url(images/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.buttons:hover {
  transform: scale(1.25);
}
#addTask {
  background-image: url(images/add.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#editTask {
  background-image: url(images/edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#viewTask {
  background-image: url(images/view.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#deleteTask {
  background-image: url(images/delete.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.todoImg {
  width: 60%;
  height: 60%;
  background-image: url(images/todo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.appWelcome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  font-size: 1.75rem;
  text-transform: capitalize;
  text-align: justify;
  flex-direction: column;
  font-family: "Trebuchet MS";
}
.appPara {
  text-align: justify;
  text-wrap: wrap;
  line-height: 2.25rem;
}
.appPara::selection {
  background-color: black;
  color: white;
}
.appHeading::selection {
  background-color: black;
  color: white;
}
.appAddTask {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addTP {
  text-align: justify;
  text-wrap: wrap;
  font-size: 24px;
  line-height: 2rem;
  font-weight: bold;
  font-family: cursive;
  width: 75%;
}
.addTInBDiv {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.addTIn {
  height: 50px;
  width: 75%;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  border: none;
  color: gold;
  font-weight: bold;
}
.addTIn::-webkit-input-placeholder {
  color: gold;
  font-weight: bold;
}
.addTIn:focus-visible {
  outline: none;
}
.addTB {
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 50px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: greenyellow;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.addTB:hover {
  background-color: black;
  color: greenyellow;
}
.addTB:focus-visible {
  outline: none;
}
.inpWrong {
  background-color: rgba(255, 0, 0, 0.5);
}
.appViewTask {
  display: flex;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.viewT {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.viewTH {
  font-family: cursive;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewTList {
  line-height: 2.5rem;
  text-align: justify;
  height: 75%;
}
.viewTList li {
  list-style: square;
  font-size: 1.75rem;
  font-weight: bold;
  color: red;
  font-family: "Cascadia Code";
}
.viewTPB {
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  font-weight: 900;
}
.viewTNB {
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  font-weight: 900;
}
.disable {
  display: none;
}
.appDeleteTask {
  display: flex;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.deleteT {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.deleteTH {
  font-family: cursive;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteTList {
  line-height: 2.5rem;
  text-align: justify;
  height: 75%;
  width: 100%;
}
.deleteTList li {
  list-style: square;
  font-size: 1.75rem;
  font-weight: bold;
  color: red;
  font-family: "Cascadia Code";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.delBtn {
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: greenyellow;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.delBtn:hover {
  background-color: black;
  color: greenyellow;
}
.delBtn:focus-visible {
  outline: none;
}
.deleteTPB {
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  font-weight: 900;
}
.deleteTNB {
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  font-weight: 900;
}
.disable {
  display: none;
}
.appEditTask {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.editTP {
  text-align: justify;
  text-wrap: wrap;
  font-size: 24px;
  line-height: 2rem;
  font-weight: bold;
  font-family: cursive;
  width: 75%;
}
.editTInpDiv {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.editTInpP {
  height: 50px;
  width: 75%;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  border: none;
  color: gold;
  font-weight: bold;
}
.editTInpP::-webkit-input-placeholder {
  color: gold;
  font-weight: bold;
}
.editTInpP:focus-visible {
  outline: none;
}
.editTInpU {
  height: 50px;
  width: 75%;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  border: none;
  color: gold;
  font-weight: bold;
}
.editTInpU::-webkit-input-placeholder {
  color: gold;
  font-weight: bold;
}
.editTInpU:focus-visible {
  outline: none;
}
.editTBtn {
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 50px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: greenyellow;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.editTBtn:hover {
  background-color: black;
  color: greenyellow;
}
.editTBtn:focus-visible {
  outline: none;
}
