* {
  padding: 0;
  margin: 0;
}
body {
  background: repeating-radial-gradient(white, gold);
  height: 100vh;
  width: 100vw;
}
.appBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainApp {
  width: 60vw;
  height: 80vh;
  background-color: black;
  border-radius: 10%;
  box-shadow: 10px 10px 30px rgb(65, 61, 61);
}
